NSS Website using Bootstrap - Web Lab/News.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="page">
  <xs:element name="head">
  	<xs:element name="title" type="xs:string"/>
  </xs:element>



  <xs:element name="body">
  	<xs:complexType>
	    <xs:sequence>
	      <xs:element name="headline" type="xs:string"/>
	      <xs:element name="byline" type="xs:string"/>
	      <xs:element name="dateline">
	      	<xs:element name="location" type="xs:string"/>
	      	<xs:element name="date" type="xs:string"/>
	      </xs:element>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>

</xs:element>

</xs:schema>